

<div class="content" style="font-family: brownlight,sans-serif; font-size: small">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <p class="headline">COLLECTION</p>
        <br />

        <p class="headline">Fall/Winter 2014 – Geometry Collection</p>

        <p>&nbsp;</p>


        <%# image_tag "bullets1.jpg", width: "650", height: "413", align: "middle" %>

        <div id="carousel-example-generic" class="collection carousel" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            <li data-target="#carousel-example-generic" data-slide-to="12"></li>
            <li data-target="#carousel-example-generic" data-slide-to="13"></li>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">

              <%= image_tag "collections/IMG_0766.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0572.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0678.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0740.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0584.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0599.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0691.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0650.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0639.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0626.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0555.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0700.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0719.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "collections/IMG_0620.JPG" %>
              <div class="carousel-caption">

              </div>
            </div>



            <!--...-->
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>


        </div>

        <p>
          The first collection of YOURS TO KEEP is inspired by different geometric forms. <br />
          The shapes are abstract and simple, but with a little finesse. <br />
          They are inspired by fashion jewelry, simple geometric forms and the shapes of nature. <br />
          Showpieces are the arm cuff with a simply carved pendant and the ring that sits on two knuckles. <br />
          All pieces are made out of brass which has been gold-plated with 24k gold.
          The chains of the necklaces are made of silver-plated copper.</p>



        </div>
      </div>
    </div>
  </div>
</div>