<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<div class="content" style="font-family: brownlight,sans-serif; font-size: small">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <p style='font-family: Georgia;'><b>Fall/Winter 2014 – Geometry Collection</b></p>

        <p>&nbsp;</p>


        <%= image_tag "bullets1.jpg", width: "650", height: "413", align: "middle" %>

        <!--<img src="bullets1.jpg" width="500" height="413" style="margin: 0 auto">-->

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p>
          The first collection of YOURS TO KEEP is inspired by different geometric forms. <br />
          The shapes are abstract and simple, but with a little finesse. <br />
          They are inspired by fashion jewelry, simple geometric forms and the shapes of nature. <br />
          Showpieces are the arm cuff with a simply carved pendant and the ring that sits on two knuckles. <br />
          All pieces are made out of brass which has been gold-plated with 24k gold.
          The chains of the necklaces are made of silver-plated copper.</p>


        <p>&nbsp;</p>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
                <div class="item active">

                <%= image_tag "home/IMG-20140516-WA0008.jpg" %>
                <div class="carousel-caption">
                  caption 5
                </div>
              </div>

              <div class="item">
                <%= image_tag "home/IMG-20140516-WA0009.jpg" %>
                <div class="carousel-caption">
                  caption 6
                </div>
              </div>

              <div class="item">
                <%= image_tag "home/IMG-20140516-WA0028.jpg" %>
                <div class="carousel-caption">
                  caption 7
                </div>
              </div>

              <div class="item">
                <%= image_tag "home/IMG-20140516-WA0033.jpg" %>
                <div class="carousel-caption">
                  caption 8
                </div>
              </div>

            <!--...-->
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>

          <p>&nbsp;</p>
          <p>&nbsp;</p>



        </div>
      </div>
    </div>
  </div>
</div>