

<header>

  <p class="headline"><%# image_tag("careandshare.png", width: 300, height: 150) %></p>
  <br />
  <p class="headline">CARE + SHARE</p>
  <br />


</header>

<div class="content">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <div class="gallery">
          <%= image_tag "left.jpg", width: 205, height:180 %>
          <%= image_tag "middle.jpg", width: 205, height:180 %>
          <%= image_tag "right.jpg", width: 205, height:180 %>
        </div>


        <p>&nbsp;</p><p>&nbsp;</p>

        <p>YOURS TO KEEP supports children in need.<p>&nbsp;</p>

        <p>What to give?<p>&nbsp;</p>

        <p>With every piece of jewelry sold we donate a part of the sales price to orphans. On a regular basis we donate basic supplies such as rice, vegetables and cleaning and cooking materials to them.<p>&nbsp;</p>

        <p>Whom to give?<p>&nbsp;</p>

        <p>Right now we work with 2 orphanages in Bali, Indonesia. The orphanages are led by private women, strong personalities who have the desire to help children. They are depending on generous givers. We want to support their wonderful mission by becoming a reliable partner for them.  We wish to be able to extend the giving mission to other projects in the future.<p>&nbsp;</p>

        <p>How to give?<p>&nbsp;</p>

        <p>We cooperate with a local giver, who is in constant communication with the orphanage leaders to find out their current needs and delivers the donations on a regular basis.<p>&nbsp;</p>

        <p>Why giving?<p>&nbsp;</p>

        <p>After spending the summer of 2013 in one of these orphanages to support and care for the children, we developed a deep desire to care for these wonderful people. The time spent with them was touching and connecting. An ongoing relationship and the knowledge about their well-being is our deepest desire.<p>&nbsp;</p>
        <p>&nbsp;</p>


        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

        <p class="headline">CONSCIENCE</p><p>&nbsp;</p><p>&nbsp;</p>

        <p>YOURS TO KEEP jewelry is handmade by using the most traditional production methods.
          The pieces are 100% handmade by micro-producers in their home workshops.
          The location of production is a place called Kotagede.
          It is located in Central Java (Indonesia).
          Kotagede has been famous for the art of silversmithing and jewelry making since the 1930s.
          It still keeps up its heritage until today.
        </p>

        <P>&nbsp;</P>

        <p>
          Nowadays the conditions have become harder for the silversmiths,
          the competition has become harder and the economic situation is challenging.
          YOURS TO KEEP cherishes the value of their work and their tradition.
          To participate in their success and ability to sustain their heritage,
          the YOURS TO KEEP products are all handmade by selected silversmiths from Kotagede.
          Therefore YOURS TO KEEP collaborates with Apikri, a local Fair Trade Organization (WFTO member).
          Apikri supports the producers by opening global markets for them and by giving business-related trainings and
          financial support.
          For more information about the work of Apikri and the principles of Fair Trade,
          please contact YOURS TO KEEP or visit the Apikri homepage
          <a href="http://www.apikri.org">(www.apikri.org).</a>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>



        <p class="headline">Producer Profiles</p>

        <p>&nbsp;</p>
        <p>

          To follow the principles of Fair Trade – dialogue, transparency and respect -
          we would like to introduce to you our producers.
          YOURS TO KEEP currently works with two silversmiths from Kotagede (Indonesia).</p>


        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="gallery">
          <%= image_tag "conscience/Lasmanu-02.jpg", width: 205, height:170 %>
          <%= image_tag "conscience/Lasmanu-03.jpg", width: 205, height:170 %>
          <%= image_tag "conscience/Lasmanu-05.jpg", width: 205, height:170 %>
          <%= image_tag "conscience/Sampan 01.jpg", width: 205, height:170 %>
          <%= image_tag "conscience/Sampan 03.jpg", width: 205, height:170 %>
          <%= image_tag "conscience/Sampan 05.jpg", width: 205, height:170 %>

        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <%= image_tag "producer_lasmanu.jpg", width: 150, height:150, class: "producer" %>


        <p>&nbsp;</p>
        <p style="text-align: justify;line-height: 1.5">
          Lasmanu is the son of a silversmith. Born in 1953, he grew up learning about the silver business.
          Since he was a teenager he joined his family’s company and finally founded his own business.
          His biggest wishes are to prove and improve his skills and to provide a good financial situation for his family.

        </p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>





        <%= image_tag "producer_sampan.jpg", width: 150, height:150, class: "producer" %>
        <p>&nbsp;</p>


        <p style="text-align: justify; line-height: 1.5 ">
          In 1967 Sampan was born in Kotagede.
          His family’s poor economic situation did not allow him to finish school and made him start working in handicraft as a teenager.
          Believing in his skills, he founded his own business.
          His dream is to improve the overall situation of the craftsmen in Kotagede and to keep the tradition of the silversmith alive.
        </p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>




      </div>
    </div>
  </div>
</div>



