
<div class="content" style="font-family: brownlight,sans-serif; font-size: small">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even" property="content:encoded"><p>&nbsp;</p>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">

              <%= image_tag "home/IMG-20140516-WA0003.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "home/IMG-20140516-WA0005.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "home/IMG-20140516-WA0006.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "home/IMG-20140516-WA0007.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">

              <%= image_tag "home/IMG-20140516-WA0008.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "home/IMG-20140516-WA0009.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>

            <div class="item">
              <%= image_tag "home/IMG-20140516-WA0028.jpg" %>
              <div class="carousel-caption">

              </div>
            </div>



            <!--...-->
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>

          <p>&nbsp;</p>


        </div>

        <!--<p >YOURS TO KEEP is the jewelry brand of Stefanie Heinrich, which has been founded in Java, Indonesia in 2013 and has now moved to Germany.</p><p>&nbsp;</p>-->
        <!--<p>The style of YOURS TO KEEP jewelry is inspired by international fashion trends and the beauty of daily life. The pieces follow simple geometric forms and combine extravagance and elegance. The collection is made out of brass, which has been gold-plated with 24k gold.</p><p>&nbsp;</p>-->
        <!--<p>The YOURS TO KEEP collection is handmade by traditional silversmiths in Indonesia. Every piece is produced carefully and has its unique charm. The collaboration is monitored by Apikri, a local Fair Trade Organization, which is a WFTO member. Therefore good prices and good labor conditions are guaranteed, as well as a proper quality control.</p><p>&nbsp;</p>-->
        <!--<p>YOURS TO KEEP defines itself as a connector, uniting the fashionable and socially responsible consumers from the Western society with the traditional and open-minded producers from the East.</p><p>&nbsp;</p>-->

        <p>YOURS TO KEEP is the jewelry brand of Stefanie Heinrich, which has been founded in Java, Indonesia in 2013 and has now moved to Germany. </p><p>&nbsp;</p>

        <p>The style of YOURS TO KEEP jewelry is inspired by international fashion trends and the beauty of daily life. It follows simple geometric forms and combines extravagance and elegance. The collection is made out of brass, which has been gold-plated with 24k gold. </p><p>&nbsp;</p>

        <p>The YOURS TO KEEP collection is handmade by traditional silversmiths in Indonesia. Every piece is produced carefully and has its unique charm. This collaboration is monitored by Apikri, a local Fair Trade Organization, which is a WFTO member. Therefore good prices and good labor conditions are guaranteed, as well as a proper quality control. </p><p>&nbsp;</p>

        <p>YOURS TO KEEP has been founded out of a vision: creating a business that matters. We want to give contribution to the world by combining business with thought- and heartful giving. With every item sold a percentage of the sales will be donated to children in need. Buy one piece, give many smiles. </p><p>&nbsp;</p>

      </div>
    </div>
  </div>
</div>
